* {
  box-sizing: border-box;
  margin: 0;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 100vh; /* Should be removed. Only for demonstration */
}

.left {
  width: 20%;
}

.right {
  width: 80%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#canvas {
    background-color: #fff;
    padding: 10px;
    width: 100%;
    height: 100%;
}